# Exercise 1

In [1]:
import pandas as pd

In [2]:
df160903=pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160903.txt")

In [3]:
df160910=pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160910.txt")

In [4]:
df160917=pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160917.txt")

In [23]:
MTAdf=pd.concat([df160903,df160910,df160917])

In [8]:
MTAdf.shape

(580895, 11)

In [11]:
df160917.shape

(192878, 11)

# Exercise 2

In [24]:
MTAdf.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,00:00:00,REGULAR,5799442,1966041
1,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,04:00:00,REGULAR,5799463,1966044
2,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,08:00:00,REGULAR,5799492,1966079
3,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,12:00:00,REGULAR,5799610,1966155
4,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,16:00:00,REGULAR,5799833,1966214

In [16]:
MTAdf.dtypes

C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                  int64
EXITS                                                                    int64
dtype: object

In [25]:
MTAdf['DATE'] = pd.to_datetime(MTAdf.DATE)

In [26]:
MTAdf.dtypes

C/A                                                                             object
UNIT                                                                            object
SCP                                                                             object
STATION                                                                         object
LINENAME                                                                        object
DIVISION                                                                        object
DATE                                                                    datetime64[ns]
TIME                                                                            object
DESC                                                                            object
ENTRIES                                                                          int64
EXITS                                                                            int64
dtype: object

In [30]:
MTAdf['DATETIME']=pd.to_datetime(MTAdf['DATE'].astype(str) +' '+ MTAdf['TIME'].astype(str))

In [31]:
MTAdf.dtypes

C/A                                                                             object
UNIT                                                                            object
SCP                                                                             object
STATION                                                                         object
LINENAME                                                                        object
DIVISION                                                                        object
DATE                                                                    datetime64[ns]
TIME                                                                            object
DESC                                                                            object
ENTRIES                                                                          int64
EXITS                                                                            int64
DATETIME                                                                datetime64[ns]
dtype: object

In [32]:
MTAdf

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,A002,R051,02-00-00,59 ST,NQR456,BMT,2016-08-27,00:00:00,REGULAR,5799442,1966041,2016-08-27 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456,BMT,2016-08-27,04:00:00,REGULAR,5799463,1966044,2016-08-27 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456,BMT,2016-08-27,08:00:00,REGULAR,5799492,1966079,2016-08-27 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456,BMT,2016-08-27,12:00:00,REGULAR,5799610,1966155,2016-08-27 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456,BMT,2016-08-27,16:00:00,REGULAR,5799833,1966214,2016-08-27 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
192873,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2016-09-16,05:00:00,REGULAR,5554,271,2016-09-16 05:00:00
192874,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2016-09-16,09:00:00,REGULAR,5554,271,2016-09-16 09:00:00
192875,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2016-09-16,13:00:00,REGULAR,5554,271,2016-09-16 13:00:00
192876,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2016-09-16,17:00:00,REGULAR,5554,271,2016-09-16 17:00:00
192877,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2016-09-16,21:00:00,REGULAR,5554,271,2016-09-16 21:00:00

# Exercise 3a

In [36]:
grp=MTAdf.groupby(['C/A','UNIT','SCP','STATION','DATE']).ENTRIES.max()

In [38]:
grp.head(50)

C/A   UNIT  SCP       STATION  DATE
A002  R051  02-00-00  59 ST    2016-08-27    5800121
                               2016-08-28    5800798
                               2016-08-29    5802336
                               2016-08-30    5803875
                               2016-08-31    5805383
                               2016-09-01    5806990
                               2016-09-02    5808616
                               2016-09-03    5809522
                               2016-09-04    5810188
                               2016-09-05    5810871
                               2016-09-06    5812270
                               2016-09-07    5813804
                               2016-09-08    5815567
                               2016-09-09    5817253
                               2016-09-10    5818247
                               2016-09-11    5818974
                               2016-09-12    5820548
                               2016-09-13    5822272
                               2016-09-14    5824032
                               2016-09-15    5825807
                               2016-09-16    5827597
            02-00-01  59 ST    2016-08-27    5330070
                               2016-08-28    5330665
                               2016-08-29    5331919
                               2016-08-30    5333205
                               2016-08-31    5334478
                               2016-09-01    5335791
                               2016-09-02    5337013
                               2016-09-03    5337758
                               2016-09-04    5338325
                               2016-09-05    5338911
                               2016-09-06    5340098
                               2016-09-07    5341134
                               2016-09-08    5342630
                               2016-09-09    5343988
                               2016-09-10    5344852
                               2016-09-11    5345527
                               2016-09-12    5346829
                               2016-09-13    5348307
                               2016-09-14    5349791
                               2016-09-15    5351197
                               2016-09-16    5352683
            02-03-00  59 ST    2016-08-27     757618
                               2016-08-28     757953
                               2016-08-29     758483
                               2016-08-30     759054
                               2016-08-31     759664
                               2016-09-01     760252
                               2016-09-02     760841
                               2016-09-03     761245
Name: ENTRIES, dtype: int64